<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="#" th:action="@{/credit-cards}" th:object="${card}" method="post" enctype="multipart/form-data">-->
<!--    <label for="cardNumber">Số thẻ:</label>-->
<!--    <input type="text" id="cardNumber" th:field="*{cardNumber}" required />-->

<!--    <label for="cardHolderName">Tên chủ thẻ:</label>-->
<!--    <input type="text" id="cardHolderName" th:field="*{cardHolderName}" required />-->

<!--    <label for="expirationDate">Ngày hết hạn:</label>-->
<!--    <input type="date" id="expirationDate" th:field="*{expirationDate}" required />-->

<!--    <label for="cardType">Loại thẻ:</label>-->
<!--    <input type="text" id="cardType" th:field="*{cardType}" required />-->

<!--    <label for="balance">Số dư:</label>-->
<!--    <input type="number" id="balance" th:field="*{balance}" required />-->

<!--    <label for="cardImage">Hình ảnh thẻ:</label>-->
<!--    <input type="file" id="cardImage" name="cardImage" required />-->

<!--    <button type="submit">Thêm thẻ</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->